*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
header{
    background-color: antiquewhite;
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
header a{
    padding: 15px 20px 20px 20px;
    text-decoration: none;
    color: brown;
}
main .center{
    background-color: aqua;
    position: absolute;
    margin: 45px 0 0 300px;
    width: 60%;

}


main .left{
    background-color: gray;
    position: fixed;
    margin: 100px 15px;
}
#myBtn {
    position: fixed;
    bottom: 10px;
    right: 43px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
